<html>
    <head>
        <h1>My Account</h1>
    </head>
    <body>
        <form method="GET" action="/">
        <input type="submit" value="Dashboard">
        </form>
        <table>
        
                <%  for(let i of data) {%>
                    <tr>
                      <td>
                        <%= i.email.S %>
                      </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="<%= i.url.S %>" width="500" height="333">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <form method = "POST" action="/likeimage">
                          <input type="hidden" name="imageemail" value="<%= i.email.S %>">
                          <input type="hidden" name="imageurl" value="<%= i.url.S %>">
                          <input type="hidden" name="from" value="myaccount">
                          <% if(i.likes !== undefined && i.likes.SS.indexOf(email) > -1){%>
                                <input type="submit" class="btn" value="LIKE" style="background-color: #008CBA">
                                <% if(i.likes){ %>
                            <%= i.likes.SS.length %> 
                            <a href="/likes">likes</a>
                        <% }} else{%>
                            <input type="submit" class="btn" value="LIKE">
                            <% if(i.likes){ %>
                                <%= i.likes.SS.length %> 
                                <a href="/likes">likes</a>
                        <% }} %></input>
                        </form>
                        </td>
                        <td>
                        <form method = "POST" action="/commentpage">
                          <input type="hidden" name="imageemail" value="<%= i.email.S %>">
                          <input type="hidden" name="imageurl" value="<%= i.url.S %>">
                          <input type="submit" class="btn" value="COMMENT">
                        </form> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">-------------------------------------------------------------------------------------------------------</td>
                    </tr>
                <% } %>
        </table>
    </body>
</html>